<ion-header>
  <ion-toolbar>
    <ion-title>
      Date Range Picker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="ion-padding">
    <p style="font-size: 0.9em;">
      I have created this application for mobile view in mind.
      In order to get the best view please select the mobile or tablet view from your
      browser devices tab or open developer tools from your browser settings and set the responsive
      view to tablet or mobile view.
    </p>
    <ion-label style="padding-left: 3px;font-size: 0.9em;">
      Selected Range : {{ dateFrom.format('DD-MMM-YY') }} to {{ dateTo.format('DD-MMM-YY')}}
    </ion-label>
    <div>
      <ion-button size="small" mwPreventDoubleClick (throttledClick)="openCalendar()">
        Open calendar With filters
      </ion-button>
      <ion-button size="small" color="tertiary" 
        (click)="openCalendarWithNoFiltersAndRestrictedSelection()">
        Open calendar Without filters
      </ion-button>
    </div>
  </section>
</ion-content>