<ion-header>
  <ion-toolbar>
    <ion-title>
      Date Range Picker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="ion-padding">
    <p style="font-size: 0.9em;">
      <!-- This is a blazzing fast date range picker calendar used as a modal here.
      This calendar remembers its previous selected dates and scroll user to that
      particular date view when the user next time opens the calendar.Some of its features are as follows:
      1.It has filter button in the header,by clicking any of the filter it will select the
      dates automatically and scroll down to that particular view.
      2.You can also restrict the dates and remove the filter.
      3.It preserve its previous selected state.
      I have created this application for mobile and tablet view
      but you can use it in your web project as well.
      This was a feature that I have implemented in one of my project which has
      exact same requirements.Since my project was a mobile and tablet base project so
      I have tested this functionality in different IOS and Android devices as well as older
      and low spec devices like Samsung Galaxy S5 and IPhone 5S and found no performance issues on those devices. -->
      I have created this application for mobile view in mind.
      In order to get the best view please select the mobile or tablet view from your
      browser devices tab or open developer tools from your browser settings and set the responsive
      view to tablet or mobile view.
    </p>
    <ion-label style="padding-left: 3px;font-size: 0.9em;">
      Selected Range : {{ dateFrom.format('DD-MMM-YY') }} to {{ dateTo.format('DD-MMM-YY')}}
    </ion-label>
    <div>
      <ion-button size="small" mwPreventDoubleClick (throttledClick)="openCalendar()">
        Open calendar With filters
      </ion-button>
      <ion-button size="small" color="tertiary" 
        (click)="openCalendarWithNoFiltersAndRestrictedSelection()">
        Open calendar Without filters
      </ion-button>
    </div>
  </section>
</ion-content>